{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}About{% endblock %}
{% block body_block %}
	<div class="page-header">
		<h1>About</h1>
	    </div>
	    <div>
		<p></Strong>Who we are</p>
		<a href="/rango/">Index</a><br/>
		<p> You have visited us:{{ visits }} times! Thank you! </p> <br/>
		<img width="900" height="900" src="{% static "images/Tanabata.png" %}" alt ="Picture of Jio" /> 
		<button onClick="alert('You clicked the button using Javascript.');">
       		Click Me - I run Javascript
		</button>
		<button id="#button-btn"> Click Me - I'm Javascript on Speed</button>
		<p> This is an example</p>
		<p>This is another example</p>
	</body>
{% endblock %}


